<xf:macro name="prefix"
		  arg-entity="!"
		  arg-condition="!"
		  arg-view_prefix_id_extended="!"
		  arg-url="forums"
		  arg-prefixName="thread"
		  arg-prefixes="!">
	<xf:css src="jaysc_prefix_filter.less" />
	<xf:js addon="Jaysc/Prefix" src="Jaysc/Prefix/prefix.js" min="1" />
	<xf:set var="$jaysc_prefix_expanded" value="{$xf.app.request.getCookie('jaysc_prefix_epanded')}" />
	
	<xf:if is="$condition && $prefixes is not empty">
		<div class="block jPrefixBlock">
			<div class="block-container">
				<div class="block-body jPrefixList">
					<span class="jPrefixShowAll">{{ phrase('jaysc_prefix_specific_prefix') }}</span>
					<div id="prefix_list" class="prefixList">
						<a id="prefix_show_all" href="{{ link('canonical:' . $url, $entity, {'page': $page > 1 ? $page : null}) }}" class="labelLink label label--{$xf.options.jaysc_prefix_label_color}">
							{{ phrase('jaysc_prefix_show_all') }}
						</a>
						<xf:foreach loop="{$prefixes}" key="$prefixId" value="$prefix" i="$prefixOrder">
							<xf:set var="$prefixLink" value="{$prefix.prefix_id}" />
							<xf:set var="$prefixSelected" value="{{false}}" />
							<xf:if is="{{count($view_prefix_id_extended) > 0}}">
								<xf:if is="{{key_exists($view_prefix_id_extended,$prefix.prefix_id)}}">
									<xf:set var="$prefixLink" value="{{$view_prefix_id_extended.{$prefix.prefix_id}}}" />
									<xf:set var="$prefixSelected" value="{{true}}" />
								<xf:else />
									<xf:set var="$prefixLink" value="{{$view_prefix_id_extended.current}},{{$prefix.prefix_id}}" />
								</xf:if>
							</xf:if>
							<xf:set var="$totalPrefix" value="{$prefix.getTotalPrefixes($entity)}" />
							<xf:if is="$xf.options.jaysc_prefix_show_prefixes_not_used">
								<xf:if is="$totalPrefix">
									<a href="{{ link($url, $entity, {'prefix_id': $prefixLink}) }}"
									   style="order:{{ $prefixSelected ? $prefixOrder : '999'}}"
									   class="labelLink {$prefix.css_class} 
											  {{ $prefixSelected ? 'prefix--selected' : 'prefix--hide-js'}}
											  "
									   >
										{{ prefix_title($prefixName, $prefixId) }} {{ (!$xf.options.jaysc_prefix_show_prefixes_number) ? '(' . $totalPrefix . ')' : '' }}
									</a>
								</xf:if>
							<xf:else />
								<a href="{{ link($url, $entity, {'prefix_id': $prefix.prefix_id}) }}" 
								   style="order:{{ $prefixSelected ? $prefixOrder : '999'}}"
								   class="labelLink {$prefix.css_class} {{ $prefixSelected ? 'prefix--selected' : 'prefix--hide-js'}}"
								   >
									{{ prefix_title($prefixName, $prefixId) }} {{ (!$xf.options.jaysc_prefix_show_prefixes_number) ? '(' . $totalPrefix . ')' : '' }}
								</a>
							</xf:if>
						</xf:foreach>
					</div>
					<button id="toggle_prefix_display">
						<xf:if is="$jaysc_prefix_expanded">
							<xf:fa icon="fa-chevron-left" />
							<xf:else/>
							<xf:fa icon="fa-chevron-right" />
						</xf:if>
					</button>
				</div>
			</div>
		</div>
	</xf:if>
</xf:macro>